<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Sign in</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  

    <div class="wrapper">
      <div class="signin-form">
        <h1>Phuong's Secure Website</h1>
        <a href="/signin"><button class="btn sign-in">Sign in with secure Google 2FA</button></a>
        <a href="/signup/captchav2"><button class="btn sign-in">Sign up page with Google reCAPTCHA v2 and email OTP</button></a>
        <a href="/signup/captchav3"><button class="btn sign-in">Sign up page with Google reCAPTCHA v3 and email OTP</button></a>
      </div>
    </div>
  </body>
</html>
