<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Verify OTP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <button class="back-btn" onclick="window.history.back()">
        <i class="ri-arrow-left-line"></i> Back
      </button>
    </nav>

    <div class="wrapper">
      <div class="verify-form">
        <h1>OTP verfication</h1>
        <form action="/verifcation/verify" method="POST">
          <div class="form-group">
            <p><label for="otp">OTP codes is sent to <%= email%></label></p>
            <input class="text-input" type="text" id="otp" name="otp" required placeholder="Enter your OTP here"/>
          </div>
          <button class="sign-in" type="submit" class="btn">Verify</button>
        </form>
      </div>
    </div>

    <script src="/javascript/otp.js"></script>
  </body>
</html>
